* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

window#waybar.top-bar,
window#waybar.info-bar,
window#waybar.footer-bar {
    background-color: rgba(0, 0, 0, 0.);
}

window#waybar.top-bar.hidden,
window#waybar.info-bar.hidden,
window#waybar.footer-bar.hidden {
    opacity: 0.3;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-launcher,
#custom-media,
#custom-power-menu,
#custom-recording,
#custom-repo,
#custom-weather,
#keyboard-state,
#memory,
#mpd,
#network.top,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#wireplumber,
#workspaces {
    background-color: rgba(31, 37, 48, 0.7);
    border-radius: 9.5px;
    color: #e5e5e5;
    padding: 0 10px;
}

#workspaces button {
    padding: 0px 0px;
    color: #7984A4;
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(191, 97, 106, 0.7);
    box-shadow: inset 0 -1px #c2ddda;
}

#workspaces button.focused {
    color: #bf616a;
}

#workspaces button.active {
    color: #6a92d7;
    box-shadow: inset 0 -1px #6a92d7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cpu,
#cpu.cool {
    color: #6A92D7;
}

#cpu.great {
    color: #57CDB0;
}

#cpu.good {
    color: #26A65B;
}

#cpu.running { 
    color: #FFE657; 
}

#cpu.warning { 
    color: orange; 
}

@keyframes cpu-blink {
    to {
        color: orange;
    }
}

#cpu.critical {
    animation-name: cpu-blink;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: red;
}

#memory {
    color: #5CD4A2;
}

#wireplumber,
#pulseaudio {
    color: #7d9bba;
}

#clock {
    color: #c8d2e0;
}

#backlight {
    color: #c0caf5;
}

#battery {
    color: #c0caf5;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #26a65b;
}

#battery.warning { 
    color: orange; 
}

#battery.critical { 
    color: red; 
}

@keyframes bat-blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

#battery.critical:not(.charging) {
    animation-name: bat-blink;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #f53c3c;
}

#network.info, 
#network.top,
#bluetooth {
    color: #b48ead;
}

#network.info.disconnected,
#network.info.disconnected,
#bluetooth.disconnected {
    color: #f53c3c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-recording {
    color: #FCC213;
}

#custom-recording {
    color: #BF616A;
}

#mpd {
    color: #EBCB8B;
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #BF616A;
}

#mpd.paused {
    color: #6A92D7;
}

#keyboard-state,
#keyboard-state > label {
    color: #707d9d;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label.locked {
    color: #e5e5e5;
}

#custom-weather {
    color: #bf616a;
}

